{% assign links = settings.collectionstab_links %}
{% assign open = '' %}{% if settings.open_collectionstab %}{% assign open = 'open' %}{% endif %}
<div class="collapse-block {{ open }}">
  <h3 class="collapse-block_title">{{ settings.collectionstab_title }}</h3>
  <div class="collapse-block_content">
    {% if links == blank %}
    <a href="//shopify.com/admin/links"><u>Create and select collections linklist in navigation</u></a> and select created linklist in the <strong>Customize Theme > Sidebar Collections Tab</strong>
    {% else %}
    <ul class="list-simple">
      {% for link in linklists[links].links %}
      <li><a href="{{ link.url }}"{% if link.active %} class="active"{% endif %}>{{ link.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
