<!-- desktop-header -->
<div class="desktop-header  header-03">
  <div class="container">
    <div class="pull-left">
      {% include "menu-language" %}
    </div>
    <div class="pull-right">
      {% include "menu-minimenu" %}
      {% include "menu-customer" %}
      {% include "menu-currency" %}
    </div>
  </div>
  <div class="top-line">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <!-- box-info -->
          <div class="box-info">{{ header_slogan }}</div>
          <!-- /box-info -->
        </div>
        <div class="col-md-4 text-center">
          <!-- logo -->
          <div class="logo" itemscope itemtype="http://schema.org/Organization">
            <a href="/" itemprop="url">
              {% if headerlogo contains "title_" %}<h2>{{ headerlogo | split:"title_" | last }}</h2>
              {% else %}<img src="{{ headerlogo }}" alt="{{ headerlogoalt }}" itemprop="logo"/>
              {% endif %}
            </a>
          </div>
          <!-- /logo -->
        </div>
        <div class="col-md-4 text-right">
          <!-- cart -->
          <div class="main-parent-cart">
            {% include "menu-cart" %}
          </div>
          <!-- /cart -->
        </div>
      </div>
    </div>
  </div>
  <div class="container ">
    <div class="fill-bg-base text-center">
      <div class="menu-parent-box">
        {% include "main-menu" %}
      </div>
      {% include "menu-search" %}
    </div>
  </div>
</div>
<!-- /desktop-header -->