<!-- desktop-header -->
<div class="desktop-header header-06">
  <div class="container">
    <div class="pull-left">
      {% include "menu-minimenu" %}
    </div>
    <div class="pull-right text-right">
      <!-- box-info -->
      <div class="box-info">{{ header_slogan }}</div>
      <!-- /box-info -->
      {% include "menu-language" %}
      {% include "menu-currency" %}
    </div>
  </div>
  <div class="top-line">
    <div class="container">
      <div class="pull-left">
        <!-- logo -->
        <div class="logo" itemscope itemtype="http://schema.org/Organization">
          <a href="/" itemprop="url">
            {% if headerlogo contains "title_" %}<h2>{{ headerlogo | split:"title_" | last }}</h2>
            {% else %}<img src="{{ headerlogo }}" alt="{{ headerlogoalt }}" itemprop="logo"/>
            {% endif %}
          </a>
        </div>
        <!-- /logo -->
      </div>
      <div class="pull-right">
        {% include "menu-customer" %}
        <!-- cart -->
        <div class="main-parent-cart">
          {% include "menu-cart" %}
        </div>
        <!-- /cart -->
      </div>
    </div>
  </div>
  <div class="top-line">
    <div class="container">
      <div class="pull-left">
        <div class="menu-parent-box">
          {% include "main-menu" %}
        </div>
      </div>
      <div class="pull-right">
        {% include "menu-search" %}
      </div>
    </div>
  </div>
</div>
<!-- /desktop-header -->