{% if settings.show_multiple_currencies %}
{% assign currency = settings.supported_currencies | split: '|' %}
<!-- currency -->
<div class="main-parent-currency">
  <div class="currency dropdown select-change">
    <a class="dropdown-toggle" data-toggle="dropdown">
      <span class="dropdown-label hidden-sm hidden-xs">{{ settings.title_currency }}</span>
      <span class="current-currency title-value">{{ shop.currency }}</span>
      {% if currency.size > 1 %}<span class="caret"></span>{% endif %}
    </a>
    {% if currency.size > 1 %}
    <ul class="dropdown-menu">
      {% for value in currency %}
      {% assign array = value | split: ',' %}
      {% assign iso_4217 = array[0] | upcase | strip %}
      {% assign name = array[1] | strip %}
      <li data-currency="{{ iso_4217 }}"><a href="#">{{ name }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
<!-- /currency -->
{% endif %}