<ul class='item-html-js hide'>
  <li class="item">
    <div class="img">
      <a href="#">img</a>
    </div>
    <div class="info">
      <div class="title-col">
        <h2 class="title">
          <a href="#">title</a>
        </h2>
        <div class="details">
          details
        </div>
      </div>
      <div class="price">price</div>
      <div class="qty">
        <div class="qty-label">{{ 'cart.header.quantity' | t }}</div>
        <div class="style-2 input-counter text-center">
          <input type="text" value="1" disabled/>
        </div>
      </div>
    </div>
    <div class="item-control">
      <div class="delete"><a href="/cart/change?id=0&quantity=0" class="icon icon-delete header_delete_cartitem_js" title="{{ 'cart.header.button_delete' | t }}"></a></div>
      <div class="edit"><a href="{{item.url}}" class="icon icon-edit" title="{{ 'cart.header.button_edit' | t }}"></a></div>
    </div>
  </li>
</ul>