{% assign item = section.settings %}
{% if item.show_widget %}
<div class="box-aside">
  {% include "index_subscribeform" %}
</div>
{% endif %}

{% schema %}
{
  "name": "Subscribe Form",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_widget",
      "label": "Show Widget",
      "default": true
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "default": "GET THE LATEST NEWS DELIVERED DAILY!"
    },
    {
      "type": "textarea",
      "id": "title2",
      "label": "Content",
      "default": "Give us your email and you will be daily updated with the latest events, in detail!"
    },
    {
      "type": "textarea",
      "id": "title3",
      "label": "Button Name",
      "default": "SUBSCRIBE"
    },
    {
      "type": "textarea",
      "id": "title4",
      "label": "Form Text",
      "default": "Enter please your e-mail"
    }
  ]
}
{% endschema %}