/* banner */
.content-parallax-instagram{
  height: 640px;
  background: center center no-repeat;
  background-size: cover;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 40px 0;
}
.content-parallax-instagram .parallax-text{
  padding: 0 25px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.content-parallax-instagram .text-decoration{
  color: #333333;
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  word-spacing: 0.05em;
  font-weight: 600;

}
.content-parallax-instagram .tt-title{
  color: #49bdd1;
  font-size: 90px;
  line-height: 1.1;
  font-weight: bold;
  margin-top: 18px;
  letter-spacing: 0.02em;
  word-spacing: 0.05em;
}
@media (max-width: 1500px) {
  .content-parallax-instagram{
    height: 500px;
  }
  .content-parallax-instagram .text-decoration{
    font-size: 30px;
  }
  .content-parallax-instagram .tt-title{
    font-size: 70px;
  }
}
@media (max-width: 1200px) {
  .content-parallax-instagram{
    height: 358px;
  }
  .content-parallax-instagram .text-decoration{
    font-size: 21px;
  }
  .content-parallax-instagram .tt-title{
    font-size: 49px;
  }
}
@media (max-width: 800px) {
  .content-parallax-instagram{
    height: 244px;
    padding:0;
  }
  .content-parallax-instagram .text-decoration{
    font-size: 17px;
  }
  .content-parallax-instagram .tt-title{
    font-size: 40px;
    margin-top: 10px;
  }
}
@media (max-width: 490px) {
  .content-parallax-instagram{
    height: 200px;
  }
  .content-parallax-instagram .text-decoration{
    font-size: 15px;
  }
  .content-parallax-instagram .tt-title{
    font-size: 33px;
  }
}
/* /banner */

/* snptwdgt */
.snptwdgt__ftr,
.fauximg-bin .snptico,
.public-modal .modal-left-column .snptico-shopping-bag{
  display: none;
}
.snptwdgt-container-liner .fauximg-bin,
.snptwdgt-container .snptwdgt__item .snpt__fauxim img{
  backface-visibility: hidden;
}
.snptwdgt-container .snptwdgt__item .snpt__fauximg{
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: scale(1);
  transform: scale(1);
  backface-visibility: hidden;
}
.snptwdgt-container .snptwdgt__item:hover .snpt__fauximg{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}


.hotspot{
  backface-visibility: hidden;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  text-decoration: none;
}
.widget-hotspot{
  background: #fff;
  color: #333333;
  border-width: 7px !important;
  border-color:rgba(255, 255, 255, 0.61) !important;
  width: 36px;
  height: 36px;
  line-height: 34px;
  min-width: 48px;
  min-height: 47px;
  backface-visibility: hidden;
  -moz-background-clip: border;
  -webkit-background-clip: border;
  background-clip: border-box;

  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;

  -moz-background-clip: content;
  -webkit-background-clip: content;
  background-clip: content-box;

  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
.widget-hotspot:hover{
  background: #333333 !important;
  color: #ffffff !important;
  text-decoration: none;
  border-color:#ffffff !important;
}
.hotspot.hotspot--highlighted, .hotspot:hover{
  background: #fff;
  color: #333333;
  text-decoration: none;
}

.no-touch .snpt-pict-item:hover .widget-hotspot, .no-touch .snptwdgt__item:hover .widget-hotspot{
  background-color: #FFFFFF;
  color: #333333;
}
/* /snptwdgt */

/* loader */
.loadr-arc-rotate-move .loader:before{
  border-color: rgba(31,192,160,.155);
  opacity: .3;
}
.loadr-arc-rotate-move .loader:after{
  border-bottom-color: #49bdd1;
}
/* /loader */

/* snptwdgt lightbox */
.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__btn-buy.snpt-cta-btn .snpt-cta-btn_ico i{
  font-family: 'Material Icons' !important;
  font-weight: 400;
  font-style: normal;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hotspot-modal--frontend .public-item-modal div{
  color: #000;
}
.hotspot-modal .public-hotspot-info-holder .public-hotspot-info{
  padding-bottom: 30px;
}
.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__second-line{
  font-size: 14px;
}
.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__number{
  display: block;
  width: 100%;
}
.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__first-line{
  height: auto;
  overflow-x: inherit;
}
.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__price{
  color: #49bdd1;
  margin-top: 10px;
  display: inline-block;
}
.snptico-right-arrow:before{
  display: none;
}
.public-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__btn-buy.snpt-cta-btn{
  letter-spacing: 0 !important;
}
.public-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__btn-buy.snpt-cta-btn>span.snpt-cta-btn_txt{
  font-weight: 500 !important;
  letter-spacing: 0 !important;
  padding: 0;
}
.hotspot-modal .modal-content{
  background-color: #fff !important;
}
.hotspot-modal--frontend .product-images-slide img,
.hotspot-modal .modal-content,
.hotspot-modal .modal-dialog .slick-active{
  border-radius: 0 !important;
}
.snpt-modal.hotspot-modal a,
.hotspot-modal .modal-dialog .chevron{
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
.snpt-modal.hotspot-modal a:hover,
.hotspot-modal .modal-dialog .chevron:hover{
  text-decoration: none;
  color: #49bdd1;
}
.hotspot-modal{font-family: "Poppins", sans-serif;}
.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__number{
  color: #333333;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.hotspot-modal  .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__btn-buy.snpt-cta-btn{
  background: #49bdd1;
  color: #fff;
  border-radius: 0 !important;
  margin-top: 11px;
}
.hotspot-modal  .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__btn-buy.snpt-cta-btn:hover{
  background: #333333;
  color: #fff;
}

.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__btn-buy.snpt-cta-btn .snpt-cta-btn_ico{
  background: none !important;
  color: #fff!important;
  font-size: 14px;
  text-align: center;
  line-height: 1.2em;

}
.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__product-image{
  background-position: 0%;
}
.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__btn-buy.snpt-cta-btn .snpt-cta-btn_ico i{
  transform: rotate(0deg);
}
.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__product-image{
  border-radius: 0 !important;
}
.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__btn-buy.snpt-cta-btn>span.snpt-cta-btn_txt{
  letter-spacing: 1px;
  padding:0;
  line-height: 1.2em;
}
.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__btn-buy.snpt-cta-btn{
  padding: 6px 7px 5px;
  display: -ms-flexbox;
  display: -webkit-flex;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__btn-buy.snpt-cta-btn .snpt-cta-btn_ico{
  padding: 0
}
.hotspot-modal .public-hotspot-info__second-line{
  color: #333333;
}
.hotspot-modal .above-previews-row{
  margin-top: 20px;
  margin-bottom: 20px;
}
.public-hotspot--username:not(:hover){
  color: #333333 !important;
}
.hotspot-modal .hotspot{
  background: #fff;
  color: #333333;
  border-width: 7px !important;
  border-color:rgba(255, 255, 255, 0.61) !important;
  width: 36px;
  height: 36px;
  line-height: 34px;
  min-width: 48px;
  min-height: 47px;
  -moz-background-clip: border;
  -webkit-background-clip: border;
  background-clip: border-box;

  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;

  -moz-background-clip: content;
  -webkit-background-clip: content;
  background-clip: content-box;

  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -webkit-transform: scale(1,1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 300ms;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 300ms;
  text-decoration: none !important;
}
.hotspot-modal .hotspot.hotspot--highlighted,
.hotspot-modal .hotspot:hover.hotspot--highlighted{
  background: #333333;
  color: #fff;
  border-color:#ffffff !important;
  -webkit-transform: scale(1.2,1.2);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 300ms;
  -moz-transform: scale(1.2,1.2);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 300ms;

}
.hotspot-modal .public-hotspot-info-holder .public-hotspot-info:hover .public-hotspot-info__number{
  color: #333;
}
.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__second-line{
  height: auto;
  margin-top: 7px;
  font-family: "Poppins", sans-serif;
}
.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__product-image{
  transition: all 0.3s cubic-bezier(.455,.03,.515,.955);
  transform: translateZ(0) scale(1);
}
.public-hotspot-info__first-line{
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}
.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__first-line{
  margin-top: 15px;
}
.hotspot-modal .crd-cta-blck .snpt-logo{
  display: none;
}
.hotspot-modal .public-hotspot-info-holder .public-hotspot-info{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.public-hotspot-info__btn-buy{
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}
.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__btn-buy.snpt-cta-btn{
  padding: 12px 19px 11px;
}
.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__price{
  font-size: 24px;
}
.hotspot-modal .modal-dialog .next-chevron,
.hotspot-modal .modal-dialog .prev-chevron{
  top: 50%;
  margin-top: -28px;
}
@media only screen and (min-width: 768px){
  padding-right: 0px;
}
/* /snptwdgt lightbox*/
public-modal .public-hotspot-info-holder .public-hotspot-info.public-hotspot-info--highlighted .public-hotspot-info__number, 
public-modal .public-hotspot-info-holder .public-hotspot-info:hover .public-hotspot-info__number
{color: #49bdd1 !important;}