{%- assign count = settings.blog_post_count | plus: 0 -%}
{%- paginate blog.articles by count -%}

<div class="container offset-18">
  {%- case settings.blog_grid -%}
  {%- when 'blog2' -%}{%- include 'blog_2' -%}
  {%- when 'blog3' -%}{%- include 'blog_3' -%}
  {% else %}{% include 'blog_1' %}
  {% endcase %}
</div>

{%- endpaginate -%}
